extends layout

block content
  include ../assets/icons/icons.svg
  nav.topnav
    img(src='/assets/img/logo.svg')

  .content
    #player
      h1.station #{status.station}
      if status.track.title
        .songInfo
          .artist #{status.track.artist}
          .title #{status.track.title}
          .album #{status.track.album}
        img(src=status.track.coverArt)

      else
        p Nothing playing right now
    #stations
      ul
        each stationItem in stationList
          li= stationItem

  .controller
    .times
      .time.elapsed #{status.time.string.elapsed || '00:00'}
      .time.remaining #{status.time.string.remaining ? '-'+status.time.string.remaining : '-00:00'}
    progress(max=status.time.duration, value=status.time.elapsed)
    .controls
      .songInfo
        .overlay
        img(src=status.track.coverArt)
        .artist #{status.track.artist}
        .title #{status.track.title}
        .album #{status.track.album}
      .transport
        .loading: svg.i-spinner: use(xlink:href='#i-spinner')
        
        svg.i-thumbs-down: use(xlink:href='#i-thumbs-down')
        svg.i-thumbs-up: use(xlink:href='#i-thumbs-up')

        svg.i-play: use(xlink:href='#i-play')
        svg.i-skip: use(xlink:href='#i-skip')
      .volume
        svg: use(xlink:href='#i-vol')
        input(type='range', min='0', max='100', value='20')
